<section class="footer">
    <div class="footer-row">
      <div class="footer-col">
        <h4>Newsletter Subcribe</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis aspernatur ut at quae omnis pariatur obcaecati possimus nisi ea iste!</p>
      </div>
      <div class="footer-col">
        <form action="#">
          <input type="mail" placeholder="Email adresiniz" required>
          <button type="submit">
            <span>📨</span>
          </button>
        </form>
      </div>
    </div>
  </section>