<div class="container">
  <div id="about">ABOUT ME</div>
  <div class="section1">
    <div>
I am a 3rd year computer engineering student and experienced Full Stack Developer with expertise in delivering high-performance, scalable, and 
maintainable applications using modern technologies such as React, Next.js, Node.js, Angular Tailwind CSS, 
Typescript, RESTful APIs, and MongoDB. Achieved a 95% customer satisfaction rating through improved 
user interface design. The goal is to deepen knowledge and skills in these areas to achieve professional 
excellence. 
    </div>
  </div>

  <div class="section2">
    <div class="email">
      <img src="../../assets/icons/email.svg" alt="email" />
      <a href="mailto:ilaydatech@gmail.com">
        <p class="emailText">ilaydatech&#64;gmail.com</p>
      </a>
    </div>
    <div class="phone">
      <img src="../../assets/icons/phone.svg" alt="phone" />
      <a href="tel:+905418654823">
        <p class="phoneText">+90 541 865 48 23</p>
      </a>
    </div>
  </div>
</div>

